<div class="table-responsive-md">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th >Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>D.N.I.</th>
          <th>Email</th>
          <th>Password</th>
          <th>Profile Image</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.fistName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.age}}</td>
          <td>{{user.dni}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
            <td><img src={{user.imageOne}} height="50" width="50"></td>
          <td *ngIf="user.profile == 'Especialista' && user.isActive == false; else elseBLock">
            <button class="btn btn-primary" (click)="activeUser(this.user)">Activar</button>
          </td>
          <ng-template #elseBLock><td>Activo</td></ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  

